    <div class="p000-01 h-520">
        <div class="center">
            <div class="p010-l">
                <img src="__PUBLIC__/img/icon-12.png" alt="">
            </div>
            <form action="__URL__/login" id="login" method="post" way="ajax">
            <div class="login">

                    <div class="login-01 cf">
                        <h2>登录众创众筹</h2>
                        <a href="{:U('Account/regist')}">免费注册</a>
                    </div>
                <div class="loginrow">
                    <div class="inputbox">
                        <input type="tel" name="mobile" class="verify phoneNumber" placeholder="请输入手机号" errorMsg="手机号格式错误" style="font-size:0.3rem;">
                    </div>
                    <!-- <div class="error"></div> -->
                </div>
                <div class="loginrow">
                    <div class="inputbox">
                        <input type="password" class="verify passWord" name="password" placeholder="请填写密码，6-16位字符" errorMsg="手机或密码错误" style="font-size:0.3rem;">
                    </div>
                    <!-- <div class="error"></div> -->

                </div>
                <div class="cf">
                    <a href="__URL__/forgetPass" class="forgetpwd cf">忘记密码？</a>
                </div>


                <button type="submit" class="btn-lan">登陆</button>
            </div>
            </form>
        </div>

    </div>
