<div class="p400">
    <div class="center cf">
        <div class="p400-r">
            <!-- <div class="p400-r1">
                <img src="__PUBLIC__/img/file-09.jpg" alt="">

            </div> -->
            <div class="p400-r2">
               <h2 class="p400-tit">服务条款</h2>
                <div class="atcbox">
                    <!--======正文=========-->
                   {$info.web_service_terms}
                
                </div>
            </div>
        </div>
    </div>
</div>
</div>