<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>收益管理</h3>
                <h5>收益管理</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="admin_add" action="{:U('earnings_count_list')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="project_name">众筹项目名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="project_name" value="{$info.project_name}" readonly id="project_name" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="project_money">众筹金额</label>
                </dt>
                <dd class="opt">
                    <input type="texy" name="project_money" value="{$info.project_money}" readonly id="project_money" class="input-txt">
                </dd>
            </dl>
             <dl class="row">
                <dt class="tit">
                    <label for="project_sale_money">售卖金额</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="project_sale_money" value="{$info.project_sale_money}" readonly id="project_sale_money" class="input-txt">
                </dd>
            </dl>
             <dl class="row">
                <dt class="tit">
                    <label for="lending">放款比例</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="lending" value="{$info.lending}" id="lending" class="input-txt">
                    *若填写10表示,该次众筹总数收益的10%由投资人说分配,90%归平台所有
                </dd>
            </dl>
            <input type="hidden" name="project_id" value="{$info.project_id}" id="project_id" class="input-txt">
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
<!--     <div class="hDiv" style="display:none">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">
                                <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                            </div>
                        </th>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">ID</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">投资人</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">众筹金额</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">收益金额</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">众筹时间</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="list" id="v">
                        <tr>
                            <td align="left" class="">
                                <div style="text-align: center; width: 50px;">
                                    <if condition="$v['status'] eq 0"><input type="checkbox" name="selected[]" value="{$v['project_id']}"></if>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">
                                    {$v.investment_id}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$v.user_name}
                                </div>
                                
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$v.project_money}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$v.investment_earnings}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$v.investment_time|date="Y-m-d",###}
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div> -->
</div>

<script type="text/javascript">
    // 判断输入框是否为空
    function adsubmit(){
       var num =$('#lending').val();
       var id =$('#project_id').val();
       $("#admin_add").submit();
        // $.ajax({
        //     url:"/index.php?m=Admin&c=raise&a=earnings_count&id="+id+"&num="+num,
        //     success: function(v){
        //         if(v.status == 1)
        //             // window.location.reload();
        //         	$(".hDiv").css('display','block'); 
        //         else
        //         layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
        //     }
        // })
    }
</script>