<div class="p500">
        <div class="center cf">
            <include file="_left"/>
            <div  class="p500-r">
                <div class="p500-r1">
                    <div class="title2 ba0"><img class="icon-64" src="__PUBLIC__/img/icon-86.png" alt="">邀请好友</div>
                </div>
         <div class="p560-01 cf">
            <div class="p560-01l">
                <img id="copy" src="__PUBLIC__/img/icon-87.png" alt="">
                <h6>请您邀请的好友在注册时输入您的推广码</h6>
                <div class="p560-yq">{$user.referees_code}</div>
            </div>
             <div class="p560-01r">
                 <div class="p560-link">
                    <span>您的邀请链接：</span>
                 	<input type="hidden" id="fe_text" value="http://{$_SERVER['HTTP_HOST']}/Account/regist/referees/{$user.referees_code}" id="url">
                      <i style="font-size:0.5px;">http://{$_SERVER['HTTP_HOST']}/Account/regist/referees/{$user.referees_code}</i> <a href="javascript:void(0);" id="d_clip_button" class="my_clip_button" data-clipboard-target="fe_text">复制</a>
                 </div>
                <p>
                    1、复制邀请链接，就可以在您的交际圈中进行推广了(部分浏览器不支持该复制方式，请您手动复制)。
                </p>
               <p>
                   2、未在本平台注册的用户，可通过您的邀请链接直接进入注册页面，并且在此注册页面中，自动填入您的邀请码，标记此用户为您的被推荐用户。
               </p>
             </div>
         </div>
            </div>
            <div class="p560">
                <span class="title2">推荐记录</span>
            </div>
            <div class="p500-r">

                <div class="p510-01">
                    <div class="p560-02 cf">
                        <div class="item">推荐注册人数： <span class="tc-lan">{$tuijian}人</span></div>
                        <div class="item">实名登记人数： <span class="tc-lv">{$shiming} 人</span></div>
                        <div class="item">已投资人数：   <span class="tc-o2">{$touzi} 人</span></div>

                    </div>

                    <table class="p210table">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>实名登记</th>
                            <th>手机号</th>
                            <th>投资与否</th>
                            <th>注册时间</th>

                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="v">
                        <tr> <td>{$v.user_name}</td><td>{$v['is_id_card']== 0 ? '是' :'否' }</td><td>{$v.mobile}</td><td>{$v['investment_id'] !='0' ? '是' : '否'}</td><td> <span class="tc-78">{$v.reg_time|date="Y-m-d",###}</span></td></tr>
                    	</volist>
                        </tbody>
                    </table>
                    <div class="pagenav cf tc-o">
                        {$page}
                    </div>
                </div>
                <!--<div class="p500-r4 cf">-->
                <!--<div class="item"><h5>投资平均年化收益率</h5><div class="f30">5.6%</div></div>-->
                <!--<div class="item"><h5>投资平均回款天数</h5><div class="f30">15天</div></div>-->
                <!--<div class="item"><h5>投资成功回款车辆数</h5><div class="f30">28辆</div></div>-->
                <!--</div>-->
            </div>
        </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/ZeroClipboard.js"></script>
<script type="text/javascript">
// 定义一个新的复制对象
var clip = new ZeroClipboard( document.getElementById("d_clip_button"), {
  moviePath: "__PUBLIC__/js/ZeroClipboard.swf"
} );

// 复制内容到剪贴板成功后的操作
clip.on( 'complete', function(client, args) {
   alert("复制成功，复制内容为："+ args.text);
} );

</script>