<!--以下是在线编辑器 代码 -->
<script type="text/javascript">
    /*
     * 在线编辑器相 关配置 js 
     *  参考 地址 http://fex.baidu.com/ueditor/
     */
    window.UEDITOR_HOME_URL = "__PUBLIC__/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";
</script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugins/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugins/Ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">  
  
    var editor;
    var editor1;
    var editor2;
    $(function () {
        //具体参数配置在  editor_config.js  中
        var options = {
            initialFrameWidth: "80%", //初化宽度
            initialFrameHeight: 400, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign'
            , //允许的最大字符数 'fullscreen',
            pasteplain:false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
            autoHeightEnabled: true
         /*   autotypeset: {
                mergeEmptyline: true,        //合并空行
                removeClass: true,           //去掉冗余的class
                removeEmptyline: false,      //去掉空行
                textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                removeEmptyNode: false,      //去掉空节点
                                             //可以去掉的标签
                removeTagNames: {"font": 1},
                indent: false,               // 行首缩进
                indentValue: '0em'           //行首缩进的大小
            }*/,
            toolbars: [
                   ['fullscreen', 'source', '|', 'undo', 'redo',
                       '|', 'bold', 'italic', 'underline', 'fontborder',
                       'strikethrough', 'superscript', 'subscript',
                       'removeformat', 'formatmatch', 'autotypeset',
                       'blockquote', 'pasteplain', '|', 'forecolor',
                       'backcolor', 'insertorderedlist',
                       'insertunorderedlist', 'selectall', 'cleardoc', '|',
                       'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                       'customstyle', 'paragraph', 'fontfamily', 'fontsize',
                       '|', 'directionalityltr', 'directionalityrtl',
                       'indent', '|', 'justifyleft', 'justifycenter',
                       'justifyright', 'justifyjustify', '|', 'touppercase',
                       'tolowercase', '|', 'link', 'unlink', 'anchor', '|',
                       'imagenone', 'imageleft', 'imageright', 'imagecenter',
                       '|', 'insertimage', 'emotion', 'insertvideo',
                       'attachment', 'map', 'gmap', 'insertframe',
                       'insertcode', 'webapp', 'pagebreak', 'template',
                       'background', '|', 'horizontal', 'date', 'time',
                       'spechars', 'wordimage', '|',
                       'inserttable', 'deletetable',
                       'insertparagraphbeforetable', 'insertrow', 'deleterow',
                       'insertcol', 'deletecol', 'mergecells', 'mergeright',
                       'mergedown', 'splittocells', 'splittorows',
                       'splittocols', '|', 'print', 'preview', 'searchreplace']
               ]
        };
        editor = new UE.ui.Editor(options);
        editor1 = new UE.ui.Editor(options);
        editor.render("web_service_agreement");  //  指定 textarea 的  id 为 goods_content
        editor1.render("web_service_terms");  //  指定 textarea 的  id 为 goods_content

    }); 
</script>
<div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h5>网站参数</h5>
            </div>
        </div>
    </div>
<div class="page">
   <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <li>网站参数</li>
        </ul>
    </div>
    <form class="form-horizontal" id="admin_add" action="{:U('System/website_add')}" method="post">
        <input type="hidden" name="website_id" value="{$info.website_id}">
        <div class="ncap-form-default">
             <!-- <dl class="row">
                <dt class="tit">
                    <label for="web_name">网站名称</label>
                </dt>
                <dd class="opt">
                    <input  id="web_name" name="web_name" value="{$info.web_name}" class="input-txt" type="text">
                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="web_title">网站标题</label>
                </dt>
                <dd class="opt">
                    <input  id="web_title" name="web_title" value="{$info.web_title}" class="input-txt" type="text">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_key">网站关键词</label>
                </dt>
                <dd class="opt">
                    <input  name="web_key" value="{$info.web_key}" class="input-txt" type="text">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_desc">网站描述</label>
                </dt>
                <dd class="opt">
                    <textarea  name="web_desc" id="web_desc"  class="input-txt" type="text">{$info.web_desc}</textarea>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_phone">公司电话</label>
                </dt>
                <dd class="opt">
                    <input  name="web_phone" id="web_phone"  class="input-txt" type="text" value="{$info.web_phone}">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_address">公司地址</label>
                </dt>
                <dd class="opt">
                    <input  name="web_address" id="web_address"  class="input-txt" type="text" value="{$info.web_address}">
                </dd>
            </dl>
             <dl class="row">
                <dt class="tit">
                    <label for="web_record">公司备案</label>
                </dt>
                <dd class="opt">
                    <input  name="web_record" id="web_record"  class="input-txt" type="text" value="{$info.web_record}">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_service_agreement">服务协议</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" id="web_service_agreement" name="web_service_agreement" title="">{$info.web_service_agreement}</textarea>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_service_terms">服务条款</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" id="web_service_terms" name="web_service_terms" title="">{$info.web_service_terms}</textarea>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function adsubmit(){
        $('#admin_add').submit();
    }
</script>