<div class="c-div div_J9MP6S">
  <nav class="navbar c-navbar navbar_ev1lH4">
   <div class="container-fluid navcontainer_coyyEt">
    <div class="navbar-header c-navheader navheader_zi2nZC">
     <button class="navbar-toggle c-navmenubutton navmenubutton_53QFzk" data-target="#navmenu_319ffb7d98909bb3" data-toggle="collapse" type="button">
      <span class="sr-only c-span span_4iV6j0">
       Toggle navigation
      </span>
      <span class="icon-bar c-nav-btn-span span_62ZrWp">
      </span>
      <span class="icon-bar c-nav-btn-span span_ERHyuA">
      </span>
      <span class="icon-bar c-nav-btn-span span_7meUXn">
      </span>
     </button>
     <a class="c-linkblock linkblock_lt9fqD" href="#">
      <img class="c-image image_UYRfNn" src="__PUBLIC__/files/36b2574273642734b937dddc1901d699.png"/>
     </a>
    </div>
    <div class="collapse navbar-collapse c-navcollapse navcollapse_WPenC0" id="navmenu_319ffb7d98909bb3">
     <ul class="nav navbar-nav navbar-left c-navlist navlist_sxcRyD">
      <li class="c-navlistitem navlistitem_0EiUNg">
       <a class="c-navlink navlink_mQpNCY" href="">
        工作首页
       </a>
      </li>
      <li class="c-navlistitem navlistitem_ojejya">
       <a class="c-navlink navlink_mQpNCY" href="#">
        项目
       </a>
      </li>
      <li class="c-navlistitem navlistitem_ijnML5">
       <a class="c-navlink navlink_mQpNCY" href="#">
        订单
       </a>
      </li>
      <li class="c-navlistitem navlistitem_65nffO">
       <a class="c-navlink navlink_mQpNCY" href="#">
        仓储
       </a>
      </li>
      <li class="c-navlistitem navlistitem_TezSnf">
       <a class="c-navlink navlink_mQpNCY" href="#">
        运输
       </a>
      </li>
      <li class="c-navlistitem navlistitem_t8aTZa">
       <a class="c-navlink navlink_mQpNCY" href="#">
        贸易
       </a>
      </li>
      <li class="c-navlistitem navlistitem_k1dedQ">
       <a class="c-navlink navlink_mQpNCY" href="#">
        金融
       </a>
      </li>
      <li class="c-navlistitem navlistitem_UzFIy2">
       <a class="c-navlink navlink_mQpNCY" href="#">
        保险
       </a>
      </li>
      <li class="c-navlistitem navlistitem_VgKB7J">
       <a class="c-navlink navlink_mQpNCY" href="#">
        财务
       </a>
      </li>
      <li class="c-navlistitem navlistitem_3FrD3F">
       <a class="c-navlink navlink_mQpNCY" href="#">
        投资
       </a>
      </li>
      <li class="c-navlistitem navlistitem_v5WbVh">
       <a class="c-navlink navlink_mQpNCY" href="#">
        团队
       </a>
      </li>
      <li class="c-navlistitem navlistitem_Nv6Hy4">
       <a class="c-navlink navlink_mQpNCY" href="#">
        合作伙伴
       </a>
      </li>
      <li class="c-navlistitem navlistitem_7ygV8V">
       <a class="c-navlink navlink_mQpNCY" href="#">
        投资者
       </a>
      </li>
      <li class="c-navlistitem navlistitem_PbVoIQ">
       <a class="c-navlink navlink_mQpNCY" href="#">
        设置
       </a>
      </li>
      <li class="c-navlistitem navlistitem_1wWn1Z">
       <a class="c-navlink navlink_mQpNCY" href="#">
        商品
       </a>
      </li>
      <li class="c-navlistitem navlistitem_O8tqJO">
       <a class="c-navlink navlink_mQpNCY" href="#">
        应用市场
       </a>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <nav class="navbar c-navbar navbar_dh7Bjt">
   <div class="container-fluid navcontainer_4OUIsH">
    <div class="collapse navbar-collapse c-navcollapse navcollapse_m51txL" id="navmenu_f101d7d5b7335b51">
     <ul class="nav navbar-nav navbar-right c-navlist navlist_qKGDOV">
      <li class="c-navlistitem navlistitem_31qVmx">
       <a class="c-navlink navlink_rDLT5M" href="#">
        通知
       </a>
      </li>
      <li class="c-navlistitem navlistitem_4nm5rH">
       <a class="c-navlink navlink_rDLT5M" href="#">
        任务
       </a>
      </li>
      <li class="c-navlistitem navlistitem_bcxt8p">
       <a class="c-navlink navlink_rDLT5M" href="#">
        日程
       </a>
      </li>
      <li class="dropdown c-dropdown c-dropdown-hover navdropdown_miWvhD">
       <a class="dropdown-toggle navlink_rDLT5M" data-toggle="dropdown" type="button">
        <span class="droptextspan_Mpipwc">
         下午好！ERIC
        </span>
        <span class="caret c-span span_wcJbbS">
        </span>
       </a>
       <ul class="dropdown-menu c-dropdown-menu c-dropdown-menu-hover dropdownmenu_Bd76KR" role="menu">
        <li class="c-dropdown-listitem dropdownlistitem_MNy95N" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="{:U('Index/workspace')}" role="menuitem" tabindex="-1">
          工作空间
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_wBEiWT" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="{:U('Member/money_list')}" role="menuitem" tabindex="-1">
          私人空间
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_Ju1yGV" role="presentation">
         <a class="hidden-sm hidden-xs c-dropdown-textlink dropdowntextlink_xD5nkD" href="{:U('Member/money_list')}" role="menuitem" tabindex="-1">
          我的帐户
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_tQAwgW" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="#" role="menuitem" tabindex="-1">
          社区
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_IaiwMX" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="#" role="menuitem" tabindex="-1">
          使用手册
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_Vc9hnn" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="#" role="menuitem" tabindex="-1">
          帮助
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_KvegWV" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="#" role="menuitem" tabindex="-1">
          支持者
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_fgqJwB" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD" href="" role="menuitem" tabindex="-1">
          版本说明
         </a>
        </li>
        <li class="c-dropdown-listitem dropdownlistitem_CBcUxj" role="presentation">
         <a class="c-dropdown-textlink dropdowntextlink_xD5nkD-1" href="{:U('Account/logout')}" role="menuitem" tabindex="-1">
          退出
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
   </div>
  </nav>
 </div>