<div class="c-div div_J9MP6S">
  <include file='public/_nav'/>
 </div>
 <div class="c-div div_wcdd1p">
  <h1 class="c-heading heading_PMmIk5">
   欢迎您加入FTC！
  </h1>
  <p class="c-paragraph paragraph_mqOebG">
   本系统目前只开放了帐户管理系统，您的注册信息将成为之后使用FTC系统的唯一凭证，请谨慎填写您的信息，因为您的行为将会成为您未来在FTC体系里面信用的组成部分。
   <br/>
   <br/>
   接下来，开始让我们逐步了解FTC体系将会是如何运转，并将带给每一位用户什么样的价值。
   <br/>
  </p>
  <div class="textblock_uMxBtM">
   <p style="text-align: right;">
    <strong>
     <span style="font-size: 18pt;">
      FTC项目团队全体成员
     </span>
    </strong>
   </p>
   <p style="text-align: right;">
    <span style="font-size: 14pt;">
     2017年05月15日
    </span>
   </p>
  </div>
 </div>
