<link rel="stylesheet" href="__PUBLIC__/css/jquery.uploadify.css">
<script src="__PUBLIC__/js/jquery.uploadify.js"></script>
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>连接参数</h3>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="admin_add" action="{:U('link_add')}" method="post">
        <div class="ncap-form-default">
            <input type="hidden" name="link_id" value="{$info.link_id}" id="link_id" class="input-txt">
            <dl class="row">
                <dt class="tit">
                    <label for="link_name"><em>*</em>标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="link_name" value="{$info.link_name}" id="link_name" class="input-txt">
                </dd>
            </dl>
           <!--  <dl class="row">
                <dt class="tit">
                    <label for="link_type">链接类型</label>
                </dt>
                <dd class="opt">
                    <input type="radio" name="link_type" value="0" <if condition="$info['link_type'] eq 0">checked</if>>合作结构
                    <input type="radio" name="link_type" value="1" <if condition="$info['link_type'] eq 1">checked</if>>保障机构

                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="link_address"><em>*</em>链接地址</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="link_address" value="{$info.link_address}" id="link_address" class="input-txt">
                </dd>
            </dl>
            <!-- <dl class="row">
                <dt class="tit">
                    <label for="link_display_position">显示位置</label>
                </dt>
                <dd class="opt">
                    <input type="radio" name="link_display_position" value="0" <if condition="$info['link_display_position'] eq 0">checked</if>>首页
                    <input type="radio" name="link_display_position" value="1" <if condition="$info['link_display_position'] eq 1">checked</if>>页内

                </dd>
            </dl> -->
             <dl class="row">
                <dt class="tit">
                    <label for="link_sort">显示顺序</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="link_sort" value="{$info.link_sort}" id="link_sort" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="link_is_display">是否显示</label>
                </dt>
                <dd class="opt">
                    <input type="radio" name="link_is_display" value="0" <if condition="$info['link_is_display'] eq 0">checked</if>>是
                    <input type="radio" name="link_is_display" value="1" <if condition="$info['link_is_display'] eq 1">checked</if>>否

                </dd>
            </dl>
            <dl class="row">
                        <dt class="tit">友情链接图片</dt>
                        <dd class="opt">
                          <div class="col-lg-8">
                                <input id="pic" name="pic" type="file" >
                            
                            <div class="imglist" id="imglist">
                                <notempty name="info.link_pic">
                                <img src="{$info.link_pic|getPicPath}" height="100"><input type="hidden" name="link_pic" value="{$info.link_pic}">
                                </notempty>
                            </div>
                            </div>
                        </dd>
                    </dl> 
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function adsubmit(){
        if($('input[name=link_name]').val() == ''){
            layer.msg('名称不能为空！', {icon: 2,time: 1000});   //alert('少年，用户名不能为空！');
            return false;
        }
        // if($('input[name=link_type]').val() == ''){
        //     layer.msg('类型不能为空！', {icon: 2,time: 1000});//alert('少年，密码不能为空！');
        //     return false;
        // }
        if($('input[name=link_address]').val() == ''){
            layer.msg('url不能为空！', {icon: 2,time: 1000});//alert('少年，密码不能为空！');
            return false;
        }
        $('#admin_add').submit();
    }

     $(function() {
        $('#pic').uploadify({
            'formData':{'w':400,'h':100},
            'buttonText':"上传图片",
            'uploader' : "{:U('Common/uploadi')}",
            'onUploadSuccess':function(file,data,response){
                if(response == true){
                    showimg(data);
                }else{
                    alert("上传失败");
                }
            },
        });
    });
    //显示上传完成的图片
    function showimg(data){
        var pic = $.parseJSON(data);
        if(pic.ret == 1){
            $(".imglist").html('<a><img src="'+pic.thumb+'" style="width:130px; height:120px;"><input type="hidden" name="link_pic" value="'+pic.pid+'"></a>');
        }else{
            alert(pic.msg);
        }
        return false;
    }
</script>