<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>客服管理</h3>
				<h5>客服列表</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
<!-- 	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>管理员列表管理, 可修改后台管理员登录密码和所属角色</li>
		</ul>
	</div> -->
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>客服列表</h3>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline" action="{:U('service_qq')}" method="get">
				<div class="sDiv">
					<div class="sDiv2">
						<input type="text" size="30" name="keywords" class="qsbox" placeholder="搜索相关数据...">
						<input type="submit" class="btn" value="搜索">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">
                                <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                            </div>
                        </th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: left; width: 100px;" class="">ID</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">QQ客服标题</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: left; width: 100px;" class="">QQ号码</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: left; width: 200px;" class="">类型</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: left; width: 200px;" class="">是否显示</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: left; width: 200px;" class="">排序</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 150px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				<div class="fbutton">
					<a href="{:U('Operation/service_add')}">
						<div class="add" title="添加客服">
							<span><i class="fa fa-plus"></i>添加客服</span>
						</div>
					</a>
				</div>
				<div class="fbutton">
                    <a onclick="act_submit(3)">
                        <div class="add" title="批量删除">
                            <span><i class="fa fa-close"></i>批量删除</span>
                        </div>
                    </a>
                </div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<volist name="list" id="vo">
						<tr>
							<td align="center" >
                                <div style="width: 2rem"><input type="checkbox" name="selected[]" value="{$vo['service_id']}"></div>
                            </td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.service_id}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.service_title}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.service_number}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 200px;">{$vo['service_qq_type']==1 ? '普通qq' : '运营qq'}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 200px;">{$vo['service_is_display']==1 ? '是' : '否'}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 200px;">{$vo.service_sort}</div>
							</td>
							<td align="center" class="handle">
								<div style="text-align: center; width: 170px; max-width:170px;">
									<a href="{:U('Operation/service_add',array('service_id'=>$vo['service_id']))}" class="btn blue"><i class="fa fa-pencil-square-o"></i>编辑</a>

										<a class="btn red"  href="javascript:void(0)" data-url="{:U('Operation/service_add')}" data-id="{$vo.service_id}" onClick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


	function delfun(obj) {
		// 删除按钮
		layer.confirm('确认删除？', {
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: $(obj).attr('data-url'),
				data : {act:'del',id:$(obj).attr('data-id')},
				dataType: 'json',
				success: function (data) {
					if (data.status == 1) {
						$(obj).parent().parent().parent().remove();
						layer.closeAll();
					} else {
						layer.alert('删除失败', {icon: 2});  //alert('删除失败');
					}
				}
			})
		}, function () {
		});
	}
</script>
<script>
	function act_submit(wst) {
        var a = [];
        $('input[name*=selected]').each(function(i,o){
            if($(o).is(':checked')){
                a.push($(o).val());
            }
        })
        if(a.length == 0){
            layer.alert('请至少选择一项', {icon: 2});
            return;
        }
        if (wst == 3) {
            if(!confirm('确定要删除吗?'))
                return false;
        };
        console.log(a);
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=system&a=mobileDel",//+tab,
            data: {id:a,del:wst},
            dataType: 'json',
            success: function (data) {
                if(data.status == 1){
                    layer.alert('删除成功', {
                        icon: 1,
                        closeBtn: 0
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert('删除失败', {icon: 2,time: 3000});
                }

            },
            error:function(){
                layer.alert('网络异常', {icon: 2,time: 3000});
            }
        });

    }
</script>
</body>
</html>