<script src="__PUBLIC__/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>推荐人管理</h3>
                <h5>推广管理</h5>
            </div> 
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
			<li>推广列表管理</li>
		</ul>
    </div>
    <div class="flexigrid">
        <div class="bDiv">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <thead>
                    <tr>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 120px;" class="">id</div>
                        </th>
                         <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 120px;" class="">推广人</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">推广人数</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">投资次数</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">投资总额</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">推广奖励次数</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">查看投资</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 1250px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list2" id="l">
                        <tr>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l.user_id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l.user_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|getpeoplenum}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|gettounum}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|getallmoney}元</div>
                            </td>
                           
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.borrower_address}</div>
                            </td>
                            <td align="left" class="">
                    		<div style="text-align: center; width: 120px;"><a href="{:U('user/investment_log',array('id'=>$l['user_id']))}">查看
                    		</a></div>
                    		</td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <!--分页位置-->
        {$page} </div>
</div>
<script>
    // $(document).ready(function(){
    //     // 表格行点击选中切换
    //     $('#flexigrid > table>tbody >tr').click(function(){
    //         $(this).toggleClass('trSelected');
    //     });

    //     // 点击刷新数据
    //     $('.fa-refresh').click(function(){
    //         location.href = location.href;
    //     });

    //     $('#start_time').layDate();
    //     $('#end_time').layDate();
    // });


    // 删除操作
    function del(id)
    {
        if(!confirm('确定要删除吗?'))
            return false;
        $.ajax({
            url:"/index.php?m=Admin&c=user&a=delete&id="+id,
            success: function(v){
                var v =  eval('('+v+')');
                if(v.hasOwnProperty('status') && (v.status == 1))
                    location.href="{:U('Admin/user/index')}";
                else
                layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
            }
        });
        return false;
    }
    function check_form(){
        var start_time = $.trim($('#start_time').val());
        var end_time =  $.trim($('#end_time').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        if(start_time !== '' && end_time !== ''){
            $('#create_time').val(start_time+" - "+end_time);
        }
        if(start_time > end_time){
            layer.alert('请选择的结束时间大于开始时间', {icon: 2});
            return false;
        }

        return true;
    }

    //批量操作提交
    function act_submit(wst) {
        var a = [];
        $('input[name*=selected]').each(function(i,o){
            if($(o).is(':checked')){
                a.push($(o).val());
            }
        })
        if(a.length == 0){
            layer.alert('请至少选择一项', {icon: 2});
            return;
        }
        if(!confirm('确定要删除吗?'))
            return false;
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=user&a=delete",//+tab,
            data: {id:a,status:wst},
            dataType: 'json',
            success: function (data) {
                if(data.status == 1){
                    layer.alert('删除成功', {
                        icon: 1,
                        closeBtn: 0
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(data.msg, {icon: 2,time: 3000});
                }

            },
            error:function(){
                layer.alert('网络异常', {icon: 2,time: 3000});
            }
        });

    }

</script>
</body>
</html>