<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>推荐管理</h3>
            </div>
            <ul class="tab-base nc-row">
                <li><a data-href="#tab_pay" class="<if condition="$type eq 'payment' or $type eq ''">current</if> tab" data-id=""><span>建立关联</span></a></li>
                <li><a data-href="#tab_login" class="<if condition="$type eq 'login'">current</if> tab"><span>推广人列表</span></a></li>
                <li><a data-href="#tab_hehe" class="<if condition="$type eq 'login'">current</if> tab"><span>推广记录</span></a></li>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <!-- <li>车商，个人</li> -->
        </ul>
    </div>
    <div class="flexigrid">
        <div class="Div">
<!--             <form class="navbar-form form-inline" id="search-form" method="get" action="{:U('promote')}">
                <div class="sDiv">
                	<div class="sDiv2">
                		<input size="50" value="{$Think.request.tkeyword}" name="tkeyword" placeholder="推广人" style="width:200px;" class="qsbox" type="text">
                	</div>
                    <div class="sDiv2">
                    	
                        <input size="50" value="{$Think.request.keyword}" name="keyword" placeholder="被推广人" style="width:200px;" class="qsbox" type="text">
                        <input class="btn" value="搜索" type="submit">
                    </div>
                </div>
            </form> -->

            <div style="clear:both"></div>
        </div>
         
        <!--支付插件-->
        <div class="bDiv" id="tab_pay" style="height: auto;<if condition="$type neq 'payment' AND $type neq ''">display: none;</if>">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <thead>
                    <tr> 
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 120px;" class="">id</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 120px;" class="">用户名</div>
                        </th>
                    <!--     <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">状态</div>
                        </th> -->
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">推广人</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="p">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$p.user_id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$p.user_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 150px;">{$p['referees']|getusername}</div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 250px; max-width:250px;">
                                	<a href="javascript:void(0)" class="btn blue" id="guanlian" onclick="relevance({$p.user_id})"><i class="fa fa-pencil-square-o"></i>关联客户</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <!--支付插件-->
        <!--登录插件-->
        <div class="bDiv" id="tab_login" style="height: auto;<if condition="$type neq 'login'">display: none;</if>">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 120px;" class="">id</div>
                        </th>
                         <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 120px;" class="">推广人</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">推广人数</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">投资次数</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">投资总额</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">推广奖励次数</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 1250px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list2" id="l">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l.user_id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l.user_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|getpeoplenum}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|gettounum}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|getallmoney}</div>
                            </td>
                           
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.borrower_address}</div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bDiv" id="tab_hehe" style="height: auto;<if condition="$type neq 'heh'">display: none;</if>">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 120px;" class="">id</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 120px;" class="">推广人</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">被推广人</div>
                        </th>
<!--                         <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">推广类型</div>
                        </th> -->
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">影响金额</div>
                        </th>
                        <th align="left" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">发生时间</div>
                        </th>
                       <!--  <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 1250px;">备注</div>
                        </th> -->
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list1" id="l">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l.user_id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l['referees']|getusername}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l.user_id|getmoney}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$l['reg_time']|date='Y-m-d',###}</div>
                            </td>
                           
                           <!--  <td align="left" class="">
                                <div style="text-align: left; width: 120px;">{$l.borrower_address}</div>
                            </td> -->
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <!--登录插件-->
     </div>
</div>
<script>
    $(document).ready(function(){
        var type = "{$type}";
        if(type !== ''){
            $('#tab_plugin_'+type).trigger('click');
        }
    });
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });
        //插件切换列表
        $('.tab-base').find('.tab').click(function(){
            $('.tab-base').find('.tab').each(function(){
                $(this).removeClass('current');
            });
            $(this).addClass('current');
            $('.bDiv').hide();
            var id = $(this).attr('data-href');
            $(id).show();
            if(id=='#tab_shipping'){
                $('.tDiv').show();
            }else{
                $('.tDiv').hide();
            }
        });


        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

    });

    function relevance(obj) {
    	 var phone=prompt("请输入手机号","")
		  if (phone!=null && phone!="")
		    {
		     $.ajax({
	            url:"/index.php?m=Admin&c=user&a=change_promote&id="+obj+"&phone="+phone,
	            success: function(v){
	                if(v.status == 1)
	                    window.location.reload();
	                else
	                layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
	            }
	        });
		    }
	}
</script>
</body>
</html>